<h1> HI and Welcome to the Alpha Blog welcome home  page</h1>

<p>this is the first program page to do  </p>
<p> i hope you enjoy your stay here</p>
<h1>here you will find peace</h1>

<img src="https://pbs.twimg.com/profile_images/954387960337747969/fI2WnS72_400x400.jpg" alt="Italian Trulli">

<%= link_to 'this is the link to About page' , about_path %>
